{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mlziade | Conways</title>
    <link rel="stylesheet" href="{% static 'conways.css' %}">
</head>
<body>
    <div id="controls">
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="clear">Clear</button>
        <button id="center">Center</button>        <span style="margin-left: 10px;">
            Delay: <input type="range" id="delaySlider" min="10" max="3000" value="100" step="10"> 
            <input type="number" id="delayInput" min="10" max="3000" value="100" style="width: 60px; margin-left: 5px;">
            <span id="delayValue">ms</span>
        </span>
        <span>Drag to move. Click to toggle cells.</span>
    </div>
    <canvas id="gridCanvas"></canvas>
    <script src="{% static 'conways.js' %}"></script>
</body>
</html>
