.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 160px); /* Viewport height minus header and footer */
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container h1 {
    font-size: 10rem;
    margin-bottom: 1rem;
    color: aliceblue;
}

.container p {
    max-width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    color: rgb(182, 182, 182);
}

/* Media queries for responsiveness */
@media (max-width: 992px) {
    .container h1 {
        font-size: 8rem;
    }
    
    .container p {
        max-width: 85%;
    }
}

@media (max-width: 768px) {
    .container h1 {
        font-size: 6rem;
    }
    
    .container p {
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    .container h1 {
        font-size: 4rem;
    }
    
    .container p {
        max-width: 95%;
        font-size: 0.95rem;
    }
}
