<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Page Title -->
  <title>
    {% block title %}
    {% endblock %}
  </title>

  <!-- Bootstrap CSS and JS -->
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
    
  <!-- CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'base.css' %}">
  <link rel="stylesheet" href="{% static 'responsive.css' %}">
  {% block extra_css %}
  {% endblock %}
</head>

<body>
  <header>
    <div class="hamburger-menu" id="hamburgerMenu">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </header>
  
  <!-- Side Navigation -->
  <div class="side-nav" id="sideNav">
    <nav>
      <ul class="nav-links">
        <li><a href="{% url 'portifolio:home' %}?lang={{ current_lang }}">
          {% if current_lang == 'en' %}Home{% else %}Home{% endif %}
        </a></li>
        <li><a href="{% url 'portifolio:about' %}?lang={{ current_lang }}">
          {% if current_lang == 'en' %}About{% else %}Sobre{% endif %}
        </a></li>
        <li><a href="{% url 'portifolio:resume' %}?lang={{ current_lang }}">
          {% if current_lang == 'en' %}Resume{% else %}Currículo{% endif %}
        </a></li>
        <li><a href="#">
          {% if current_lang == 'en' %}Projects{% else %}Projetos{% endif %}
        </a></li>
        <li><a href="{% url 'portifolio:contact' %}?lang={{ current_lang }}">
          {% if current_lang == 'en' %}Contact{% else %}Contato{% endif %}
        </a></li>
      </ul>
      <ul class="lang-links">
        <li><a href="{{ request.path }}?lang=en"><img src="{% static 'us.svg' %}" alt="US Flag"></a></li>
        <li><a href="{{ request.path }}?lang=pt-br"><img src="{% static 'br.svg' %}" alt="BR Flag"></a></li>
      </ul>
    </nav>
  </div>
    
  {% block content %}
  {% endblock %}

  <footer>
    {% if current_lang == 'en' %}
      <p>Thanks for stopping by! Feel free to reach out or follow my work.</p>
      <p><strong>&copy; 2025 mlziade. All rights reserved.</strong></p>
    {% else %}
      <p>Obrigado pela visita! Fique à vontade para entrar em contato ou acompanhar meu trabalho.</p>
      <p><strong>&copy; 2025 mlziade. Todos os direitos reservados.</strong></p>
    {% endif %}
  </footer>
  
  <script>
    document.getElementById('hamburgerMenu').addEventListener('click', function() {
      this.classList.toggle('change');
      document.getElementById('sideNav').classList.toggle('open');
    });
  </script>
</body>

</html>
