<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Page Title -->
  <title>
    {% block title %}
    {% endblock %}
  </title>

  <!-- Bootstrap CSS and JS -->
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
    
  <!-- CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'base.css' %}">
  {% block extra_css %}
  {% endblock %}
</head>

<body>
  <header>
    <div class="hamburger-menu" id="hamburgerMenu">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </header>
  
  <!-- Side Navigation -->
  <div class="side-nav" id="sideNav">
    <nav>
      <ul>
        <li><a href="{% url 'portifolio:home' %}">Home</a></li>
        <li><a href="{% url 'portifolio:about' %}">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="{% url 'portifolio:contact' %}">Contact</a></li>
      </ul>
    </nav>
  </div>
    
  {% block content %}
  {% endblock %}

  <footer>
    <p>&copy; 2025 mlziade. All rights reserved.</p>
  </footer>
  
  <script>
    document.getElementById('hamburgerMenu').addEventListener('click', function() {
      this.classList.toggle('change');
      document.getElementById('sideNav').classList.toggle('open');
    });
  </script>
</body>

</html>
